<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Company</title>
    <!-- CSS only bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
  </head>
  <body background="https://wallpapercave.com/wp/wp2856672.jpg">
    <div class="container">
        <h1 style="text-align:center;">Employee Management System</h1>
        <hr>
        <div style="text-align:center;">
          <a class="btn btn-dark mb-3" href="/all_emp" role="button">View Employees</a>
          <a class="btn btn-dark mb-3" href="/add_emp" role="button">Add Employee</a>
          <a class="btn btn-dark mb-3" href="/del_emp" role="button">Delete Employee</a>
          <a class="btn btn-dark mb-3" href="/filter_emp" role="button">Filter Employee Details</a>
        </div>
        <img src="https://www.incimages.com/uploaded_files/image/1940x900/shutterstock_721918399_357252.jpg" class="img-fluid" alt="...">


    </div>
  </body>
</html>